<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="{{ site.baseurl }}/" class="site-info">
    <h1 class="site-title">Apache NetBeans&nbsp;{{ sb.netbeans-version }}</h1>
    <!--<h2 class="site-subtitle">{{ site.subtitle }}</h2>-->
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">
      <i class="fa fa-bars"></i>
    </a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        {%- assign i = false -%}
        {%- for f in site.data reversed -%}
            {%- if i!=true  -%}
            {%-    assign href="/" -%}
            {%-    assign title= f[0] -%}
            {%- else -%}
            {%-    assign title=f[0] -%}
            {%-    capture href -%}
                    /{{f[0]}}/
            {%-    endcapture -%}
            {%- endif -%}
            {%- if page.url == href -%}{%- assign aclass=" active"%}{%else%}{%assign aclass=""%}{%endif-%}
            <li class="nav-link{{aclass}}"><a href="{{href| prepend: site.baseurl}}">{{ title | replace_first: 'rc', ''  }}</a></li>
        {%- assign i = true -%}
        {%- endfor -%}
      </ul>
    </nav>
  </div>
</header>
