<h2>Installers and packages for <b>Apache NetBeans</b></h2>

<section>
  <p><a href="https://netbeans.apache.org">Apache NetBeans</a> packages / installers
    provided by Friends of Apache NetBeans (see <a href="#who">who we are</a>).
    These packages are built with NBPackage using the official Apache NetBeans
    binary zip release. The packages themselves are not released by the Apache
    Software Foundation.
  </p>
  <p>Most installers include a local Java JDK for the IDE to run on,
    offering a self-contained out-of-the-box experience. Additional JDK's for projects
    may be registered and/or downloaded using <code>Tools / Java Platforms</code> in the
    IDE menu, supporting development of projects from Java 8 up.</p>
  <p>
    For each supported Apache NetBeans release there is also a JDK-less version per platform.
    This requires that your machine already has a JDK installed. 
  </p>
  <p>To get the proper package or installer for your platform, select one of the tabs above or one of the links below.
    <dl>
      <dt><a href="deb_arm64/">deb_arm64</a></dt>
      <dd>Debian for ARM64 machines such Raspberry Pi with Raspberry-OS.</dd>
      <dt><a href="deb_x64/">deb_x64</a></dt>
      <dd>Debian for Intel and AMD PCs and laptops.</dd>
      <dt><a href="macos_arm64/">macOS_ARM64</a></dt>
      <dd>Apple macOS of ARM, a.k.a. Apple Silicon (M1, M2, M3, M4, M5,..).</dd>
      <dt><a href="macos_x64/">macOS_x64</a></dt>
      <dd>Apple macOS on Intel 64 bit</dd>
      <dt><a href="rpm_x64/">rpm_x64</a></dt>
      <dd>Red Hat Package Manager (RPM) for Intel/AMD 64 bit</dd>
      <dt><a href="windows_x64">Windows_x64</a></dt>
      <dd>Microsoft Windows for Intel/AMD 64 bit</dd>
    </dl>

  </p>
</section>

<section class="terms">
  <p>These packages are provided without warranty, and under the licenses and terms of the bundled
    software. Please make sure you're familiar with all terms before downloading.
    Apache NetBeans is provided under the terms of the
    <a href="https://github.com/apache/netbeans/blob/master/LICENSE">Apache Software License</a>.
    All of these packages include <a href="{{ sb.jdk-maindownloadpage }}">{{sb.jdk-vendor}}</a>
    build of OpenJDK - see
    <a href="{{sb.jdk-releasenotes-link}}">{{sb.jdk-vendor}} release notes</a>.
  </p>
</section>

<section class="support" >
  
  <h2 id="Support">Support</h2>
  <p>For issues with the installers / packages themselves, please
    <a href="https://github.com/Friends-of-Apache-NetBeans/netbeans-installers/issues">raise an issue</a>
    on our GitHub repository.</p>
  <p>For community support with the IDE itself, please use the
    <a href="https://netbeans.apache.org/community/mailing-lists/">Apache NetBeans mailing lists</a>.</p>
</section>
