
<h1 class="warning" style="font-size: 200%;color:brown;">Apache NetBeans {{sb.netbeans-version}} is a <b>R</b>elease <b>C</b>andidate.</h1>
<section class="fa fa-warning">
<p style="font-size: 120%;color:brown;">
Use it at your own peril!<br>

This Release Candidate ({{sb.netbeans-version}}) can be removed at any moment without notice and certainly whenever the associated Apache NetBeans release is finalized.
</p>
</section>
<section style="color:darkgreen" class="fa fa-handshake">
<h2 style="color:darkgreen">If you want to help developing Apache NetBeans and/or these installers...</h2>
<p>...please do download and install this Release Candidate and report any errors or improvement suggestions.</p>

  <p>If you find any problems, consult the <a href="#Support">Support</a> section below.</p>
</p>
</section>