<section class="downloads">
  {%- if sb.windows-exe-x64-hash -%}
  <section class="download-arch">
    <h3>MicroSoft Windows</h3>
    <h4>Intel/AMD (X64) </h4>
    <div><a href="{{ sb.downloadbase }}/{{ sb.windows-exe-x64-file }}" class="btn"><i class="fa fa-windows"></i>
        Apache NetBeans {{ sb.netbeans-version }} + JDK {{ sb.jdk-version }}
        <span class="type-arch">(.exe x86_64)</span></a>
    </div>
    <aside>
      <code class="hash">SHA256 : {{ sb.windows-exe-x64-hash }}</code>
    </aside>
  </section>
  {%- endif -%}
  {%- if sb.linux-deb-x64-hash -%}
  <section class="download-arch">
    <h3>Linux (x86_64)</h3>
    <h4>Debain based (Ubuntu, Mint, etc)</h4>
    <div><a href="{{ sb.downloadbase }}/{{ sb.linux-deb-x64-file }}" class="btn"><i class="fa fa-linux"></i>
        Apache NetBeans {{ sb.netbeans-version }} + JDK {{ sb.jdk-version }}
        <span class="type-arch">(.deb x86_64)</span></a></div>
    <aside><code class="hash">SHA256 : {{ sb.linux-deb-x64-hash }}</code><br>
      The .deb package should be installed using the distribution software manager,
      or using eg. <code>sudo dpkg -i FILENAME</code>.</aside>
  </section>
  {%- endif -%}
  {%- if sb.linux-rpm-x64-hash -%}
  <section class="download-arch">
    <h4>Red Hat and Friends (RedHat, Fedora, Suse, etc)</h4>
    <div><a href="{{ sb.downloadbase }}/{{ sb.linux-rpm-x64-file }}" class="btn"><i class="fa fa-linux"></i>
        Apache NetBeans {{ sb.netbeans-version }} + JDK {{ sb.jdk-version }}
        <span class="type-arch">(.rpm x86_64)</span></a></div>
    <aside>
      <code class="hash">SHA256 : {{ sb.linux-rpm-x64-hash }}</code><br>
      The .rpm package should be installed using the distribution software manager,
      or using eg. <code>sudo dnf install ./FILENAME</code>.
    </aside>
  </section>
  {%- endif -%}
  {%- if sb.linux-deb-arm-hash -%}
  <section class="download-arch">
    <h3>Linux (arm64) </h3>
    <h4>Debian based (Ubuntu, Mint, Raspberry-OS, etc) package</h4>
    <div><a href="{{ sb.downloadbase }}/{{ sb.linux-deb-arm-file }}" class="btn"><i class="fa fa-linux"></i>
        Apache NetBeans {{ sb.netbeans-version }} + JDK {{ sb.jdk-version }}
        <span class="type-arch">(.deb arm64)</span></a></div>
    <aside>
      <code class="hash">SHA256 : {{ sb.linux-deb-arm-hash }}</code><br>
      The .deb package should be installed using the distribution software manager,
      or using eg. <code>sudo dpkg -i FILENAME</code>.<br>
      If using this package on a Raspberry Pi, we recommend switching from Wayland to X11.
    </aside>
  </section>
  {%- endif -%}
  {%- if sb.macos-pkg-x64-hash -%}
  <section class="download-arch">
    <h3>Apple macOS</h3>
    <div><a href="{{ sb.downloadbase }}/{{ sb.macos-pkg-x64-file }}" class="btn"><i class="fa fa-apple"></i>
        Apache NetBeans 27 + JDK 24 <!--{{ sb.netbeans-version }} + JDK {{ sb.jdk-version }} -->
        <span class="type-arch">(.pkg x86_64)</span></a></div>
    <aside>
      <code class="hash">SHA256 : {{ sb.macos-pkg-x64-hash }}</code>
    </aside>
  </section>
  {%- else -%}
  <section class="information">
    <h2>Transitional releases</h2>
    <p>Currently we are waiting for acceptance by Apple Developer support as FOSS publisher, so that we can sign and
      notarize the Apple macOS releases.
    </p>
  </section>
  {%- endif -%}
  {%- if sb.macos-pkg-arm-hash -%}
  <section class="download-arch">
    <h3>Apple macOS</h3>
    <h4>Apple Silicon (M2, M3, M4, etc)</h4>
    <div><a href="{{ sb.downloadbase }}/{{ sb.macos-pkg-arm-file }}" class="btn"><i class="fa fa-apple"></i>
        Apache NetBeans 27 + JDK 24 <!--{{ sb.netbeans-version }} + JDK {{ sb.jdk-version }} -->
        <span class="type-arch">(.pkg arm64)</span></a></div>
    <aside>
      <code class="hash">SHA256 : {{ sb.macos-pkg-arm-hash }}</code>
    </aside>
  </section>
  {%- endif -%}

</section>