<section class="information">
  <h2 id="who">Who we are</h2>
  <p>These packages are provided by Friends of Apache NetBeans - a foundation (stichting)
    in the Netherlands founded to promote and financially support the Apache NetBeans
    project.</p>

  <h2>Legal</h2>
  <p>Apache, Apache NetBeans and the Apache NetBeans logo are trademarks or registered trademarks
    of the Apache Software Foundation.
    Azul and Azul Zulu are trademarks or registered trademarks of Azul Systems, Inc.
    Java and OpenJDK are registered trademarks of Oracle and/or its affiliates.
    All other trademarks are the property of their respective holders and used here only for identification purposes.</p>
</section>
