---
layout: page
---
<h1>{{page.title}}</h1>
{% for org_hash in site.data[page.package_type] reversed %}
<!--{{ org_hash[0] }}-->
{% assign sb = org_hash[1][0] %}
{%- if sb.jdk-variant == "none" -%}
<h2>Apache Netbeans {{sb.netbeans-version }} without bundled JDK</h2>
{%- else -%}
<h2>Apache Netbeans {{sb.netbeans-version }} bundled with JDK {{sb.jdk-vendor}} {{sb.jdk-version}}</h2>
{% endif %}
{{sb.jdk-trademark-line}}
{{sb.jdk-features}}
  <section class="download-arch">
    <h3>Linux (x86_64)</h3>
    <h4>Debian based Linux Distribution such as Debian, Ubuntu, Mint, etc.</h4>
    <div><a href="{{ sb.linux-deb-x64-url }}" class="btn"><i class="fa fa-linux"></i>
        Apache NetBeans
      {%- if sb.jdk-variant != "none" -%}
        + JDK {{ sb.jdk-version }}
      {%- endif -%}
        <span class="type-arch">(.deb x86_64)</span></a> {{sb.linux-deb-x64-downloads}} downloads</div>
    <aside><code class="hash">SHA256 : {{ sb.linux-deb-x64-hash }}</code><br>
      The .deb package should be installed using the distribution software manager,
      or using eg. <code>sudo dpkg -i FILENAME</code>.</aside>
      {%- if sb.jdk-variant == "none"  -%}
      <br>To run NetBeans without a bundled JDK, you must have a JDK installed!
      {%- endif -%}

  </section>
<!-- /{{ org_hash[0] }}-->
{% endfor %}
