---
layout: page
---
<h1>{{page.title}}</h1>
{% for org_hash in site.data[page.package_type] reversed %}
{% assign sb = org_hash[1][0] %}
<h2>Apache Netbeans {{sb.netbeans-version }} bundled with JDK {{sb.jdk-variant}}</h2>
  <section class="download-arch">
    <h3>Linux (x86_64)</h3>
    <h4>Debain based Linux Distribution such as Debian, Ubuntu, Mint, etc.</h4>
    <div><a href="{{ sb.linux-deb-x64-url }}" class="btn"><i class="fa fa-linux"></i>
        Apache NetBeans {{ sb.netbeans-version }} + JDK {{ sb.jdk-version }}
        <span class="type-arch">(.deb x86_64)</span></a> {{sb.linux-deb-x64-downloads}} downloads</div>
    <aside><code class="hash">SHA256 : {{ sb.linux-deb-x64-hash }}</code><br>
      The .deb package should be installed using the distribution software manager,
      or using eg. <code>sudo dpkg -i FILENAME</code>.</aside>
  </section>
{% endfor %}
