---
layout: page
---
<h1>{{page.title}}</h1>
<h2>{{page.subtitle}}</h2>
{% if page.tip %}
<div class="tip">
  {{ page.tip }}
</div>
{%- endif -%}
{{page.tip}}
{% for org_hash in site.data[page.package_type] reversed %}
{% assign sb = org_hash[1][0] %}
<!--{{ org_hash[0] }}-->
<br>Package url={{sb.package-url}}<br>

{%- if sb.jdk-variant == "none" -%}
<h2>Apache Netbeans {{sb.netbeans-version }} without bundled JDK</h2>
{%- else -%}
<h2>Apache Netbeans {{sb.netbeans-version }} bundled with JDK {{sb.jdk-name}} {{sb.jdk-version}}</h2>
{% endif %}
{{sb.jdk-trademark-line}}
{%- if sb.jdk-features -%}
<br /><b>JDK {{sb.jdk-name}} Features</b>: {{sb.jdk-features}}
{%- endif -%}
<br>This package is published by {{sb.package-publisher}}.

<section class="download-arch">
  <div><a href="{{ sb.package-url }}" class="btn"><i class="fa fa-linux"></i>
      Apache NetBeans
      {%- if sb.jdk-variant != "none" -%}
      + JDK {{ sb.jdk-version }}
      {%- endif -%}
      <span class="type-arch">(.deb arm64)</span></a></div>
  <aside>
    <code class="hash">SHA256 : {{ sb.package-hash }}</code><br>
    The .deb package should be installed using the distribution software manager,
    or using eg. <code>sudo dpkg -i FILENAME</code>.<br>
    If using this package on a Raspberry Pi, we recommend switching from Wayland to X11.
  </aside>
  <div>
    {%- if sb.jdk-variant == "none" -%}
    <div class="tip">To run NetBeans without a bundled JDK, you must have a JDK installed!</div>
    {%- endif -%}

  </div>
  {%- if sb.jdk-variant != "none" -%}
  <p>
    The <a href="{{sb.jdk-releasenotes-link}}">release notes</a> of {{sb.jdk-vendor}} {{sb.jdk-version}}.<br>
    This and other versions of the bundled JDK can be downloaded from <a
      href="{{sb.jdk-maindownloadpage}}">{{sb.jdk-vendor}}</a>.<br>
  </p>
  {%- endif -%}
</section>
<!-- /{{ org_hash[0] }}-->
{% endfor %}