  <section class="download-arch">
    <h3>macOS (x86_64)</h3>
    <div><a href="{{ sb.downloadbase }}/{{ sb.macos-pkg-x64-file }}" 
            class="btn"><i class="fa fa-apple"></i>
        Apache NetBeans 27 + JDK 24 <!--{{ sb.netbeans-version }} + JDK {{ sb.jdk-version }} -->
        <span class="type-arch">(.pkg x86_64)</span></a></div>
    <aside>
      <code class="hash">SHA256 : {{ sb.macos-pkg-x64-hash }}</code>
    </aside>
  </section>
  <section class="download-arch">
    <h3>macOS (arm64)</h3>
    <div><a href="{{ sb.downloadbase }}/{{ sb.macos-pkg-arm64-file }}" 
            class="btn"><i class="fa fa-apple"></i>
        Apache NetBeans 27 + JDK 24 <!--{{ sb.netbeans-version }} + JDK {{ sb.jdk-version }} -->
        <span class="type-arch">(.pkg arm64)</span></a></div>
    <aside>
      <code class="hash">SHA256 : {{ sb.macos-pkg-arm64-hash }}</code>
    </aside>
  </section>
