---
layout: page
---
<h1>{{page.title}}</h1>
{% for org_hash in site.data[page.package_type] reversed %}
<!--{{ org_hash[0] }}-->
{% assign sb = org_hash[1][0] %}
{%- if sb.jdk-variant == "none" -%}
<h2>Apache Netbeans {{sb.netbeans-version }} without bundled JDK</h2>
{%- else -%}
<h2>Apache Netbeans {{sb.netbeans-version }} bundled with JDK {{sb.jdk-vendor}} {{sb.jdk-version}}</h2>
{% endif %}
{{sb.jdk-trademark-line}}
{{sb.jdk-features}}
   <section class="download-arch">
    <h3>Apple macOS for Apple Silicon</h3>
    <h4>Apple Silicon (M1, M2, M3, M4, etc)</h4>
    <div><a href="{{ sb.macos-pkg-arm-url }}" class="btn"><i class="fa fa-apple"></i>Apache NetBeans 
        {%- if sb.jdk-variant != "none" -%}
        + JDK {{ sb.jdk-version }}
        {%- endif -%}
        <span class="type-arch">(.pkg arm64)</span></a></div>
    <aside>
      <code class="hash">SHA256 : {{ sb.macos-pkg-arm-hash }}</code><br>
      The .pkg package can be installed by clicking on the downloaded file or in the command line with 
      <code>open &lt;file&gt;</code>.
      {%- if sb.jdk-variant == "none"  -%}
      <br>To run NetBeans without a bundled JDK, you must have a JDK installed!
      {%- endif -%}
    </aside>
    {%- if sb.jdk-variant != "none" -%}
       <p>
        The <a href="{{sb.jdk-releasenotes-link}}">release notes</a> of {{sb.jdk-vendor}} {{sb.jdk-version}}.<br>
       This and other versions of the bundled JDK can be downloaded from <a href="{{sb.jdk-maindownloadpage}}">{{sb.jdk-vendor}}</a>.<br>
      </p>
  {%- endif -%}
</section>
<!--{{ org_hash[0] }}-->
{% endfor %}
