---
layout: page
---
<h1>{{page.title}}</h1>
{% for org_hash in site.data[page.package_type] reversed %}
<!--{{ org_hash[0] }}-->
{% assign sb = org_hash[1][0] %}
{%- if sb.jdk-variant == "none" -%}
<h2>Apache Netbeans {{sb.netbeans-version }} without bundled JDK</h2>
{%- else -%}
<h2>Apache Netbeans {{sb.netbeans-version }} bundled with JDK {{sb.jdk-vendor}} {{sb.jdk-version}}</h2>
{% endif %}
{{sb.jdk-trademark-line}}
{{sb.jdk-features}}
<section class="download-arch">
    <h4>Red Hat and Friends (RedHat, Fedora, Suse, etc)</h4>
    <div><a href="{{ sb.linux-rpm-x64-url }}" class="btn"><i class="fa fa-linux"></i>
        Apache NetBeans
   {%- if sb.jdk-variant != "none" -%}
   + JDK {{ sb.jdk-version }}
   {%- endif -%}
        <span class="type-arch">(.rpm x86_64)</span></a></div>
    <aside>
      <code class="hash">SHA256 : {{ sb.linux-rpm-x64-hash }}</code><br>
      The .rpm package should be installed using the distribution software manager,
      or using eg. <code>sudo dnf install ./FILENAME</code>.
      {%- if sb.jdk-variant == "none"  -%}
      <br>To run NetBeans without a bundled JDK, you must have a JDK installed!
      {%- endif -%}
    </aside>
      {%- if sb.jdk-variant != "none" -%}
       <p>
        The <a href="{{sb.jdk-releasenotes-link}}">release notes</a> of {{sb.jdk-vendor}} {{sb.jdk-version}}.<br>
       This and other versions of the bundled JDK can be downloaded from <a href="{{sb.jdk-maindownloadpage}}">{{sb.jdk-vendor}}</a>.<br>
      </p>
  {%- endif -%}
  </section>

  <!-- /{{ org_hash[0] }}-->

{% endfor %}
