# publish release to netbeans-installers-site
name: Update
on: 
  workflow_dispatch:
    inputs:
      release_tag:
        description: "the release tag the release artifacts should be attached to, example v29-rc1 or v29"
        type: string

jobs:
  UpdateWeb:
    name: Checkout this repo and website 
    runs-on: ubuntu-24.04
    permissions: 
      contents: write
    steps:
      - uses: actions/checkout@v6
      - name: create-web-files
        run: |
          gh release download ${{ inputs.release_tag }} -R Friends-of-Apache-NetBeans/netbeans-installers -D dist --clobber -p '*.yaml' -p "*.properties"
          lastyaml=$(ls -t _data/nb*.yaml | head -1)
          nbversion=$(cat $lastyaml | grep netbeans-version | cut -d: -f2 | xargs)
          echo -e "---\nlayout: release\nsb: nb${nbversion}\n---" > ./nb${nbversion}.md
          if [[ $(git status --porcelain)  ]]; then
            git config --global user.name "github-actions[bot]"
            git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
            git add .
            git commit -m "added nb${nbversion} on $(date)"
            git push
          fi
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                

