# publish release to netbeans-installers-site
name: Update
on: 
  workflow_dispatch:

jobs:
  UpdateWeb:
    name: Checkout this repo and website 
    runs-on: ubuntu-24.04
    permissions: 
      contents: write
    steps:
      - uses: actions/checkout@v6
      - name: create-web-files
        run: |
          gh release download -R Friends-of-Apache-NetBeans/netbeans-installers -D _data --clobber -p "nb*.yaml"
          lastyaml=$(ls -rt _data/nb*.yaml | head -1)
          nbversion=$(cat $lastyaml | grep netbeans-version | cut -d: -f2 | xargs)
          echo -e "---\nlayout: release\nsb: nb${nbversion}\n---" >nb${nbversion}.md
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git status 
          git add nb${nbversion}.md ${lastyaml}
          git commit -m "added nb${nbversion} on $(date)"
          git push
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                

