# publish release to netbeans-installers-site
name: Update
on: 
  workflow_dispatch:

jobs:
  UpdateWeb:
    name: Checkout this repo and website 
    runs-on: ubuntu-24.04
    permissions: 
      contents: write
    steps:
      - name: checkout
        uses: actions/checkout@v6
        with:
          persist-credentials: false
          fetch-depth: 0
      - name: create-web-files
        run: |
          gh release download -R Friends-of-Apache-NetBeans/netbeans-installers -D _data --clobber -p "nb*.yaml"
          lastyaml=$(ls -rt _data/nb*.yaml | head -1)
          nbversion=$(cat $lastyaml | grep netbeans-version | cut -d: -f2 | xargs)
          cat - <<EOF > nb${nbversion}.md
          ---
          layout: release
          sb: nb${nbversion}
          ---
          EOF
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add .
          git commit -m "added nb${version} on $(date)"
          git push
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                

